.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.layout {
  height: 100vh;
  overflow: hidden;
}

.main {
  padding: 1rem;
}

.logoutBtn {
  background-color: #ffd130;
  border: none;
}
